.BackgroundNight{
  color:$text-night-mode;
  background-color:$navbar-night;
}

.BarsNight{
  background-color:$text-night-mode;
}

.TextNight{
  color:$text-night-mode;
}

.bodyNight{
  background-color:$body-night;
}

.personNight{
  background-image: url('../../img/image-navy.svg');
}