.BackgroundLight{
  color:$text-light-mode;
  background-color:$navbar-light;
}

.BarsLight{
  background-color:$text-light-mode;
}

.TextLight{
  color:$text-light-mode;
}

.bodyLight{
  background-color:$body-light;
}

.personLight{
  background-image: url('../../img/image-white.svg');
}