@import "./_variables.scss";
@import "./night.scss";
@import "./light.scss";

body{
  margin:0px;
}

.container{
  height: 100vh;
  overflow: scroll;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 35px;
  border-radius: 0px 0px 30px 30px;
  height: 79px;
  font-family: 'Montserrat', sans-serif;
}

 .bars{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
   div{
      margin: 1px 0px;

      &:first-child{
        width: 17px;
        padding: $padding-bar;
        transition: 0.3s background-color;
      }
      &:nth-child(2){
        width: 15px;
        padding: $padding-bar;
        transition: 0.3s background-color;
      }
      &:last-child{
        width: 13px;
        padding: $padding-bar;
        transition: 0.3s background-color;
      }
   }
 }

.header{
  margin: 15px 35px 15px 35px;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  transition: 0.3s color;
}

.image-landing{
      margin: 15px 0px 15px 0px;
      overflow:hidden;    
      background-position:center;
      background-repeat: no-repeat;

      img{
        opacity:0;
      }
}

.img-dribbble{
  margin: 15px 35px 15px 35px;
  text-align: center;

  img{
    width: 70px;
    height: 70px;
  }
}

@media only screen and (max-width: 400px) {
  

.image-landing{
      background-position: -70px center;
}

.header{
  text-align: left;
}

}